---
import WhatsappIcon from "./icons/Whatsapp.astro"
import InstagramIcon from "./icons/Instagram.astro"
import MailIcon from "./icons/Mail.astro"
---
<footer class=" bg-zinc-999 py-20">
    <p class="ml-10 mb-10  underline -mt-[20px] ">Contacto</p>
    
    <h2 class="text-s ml-3 mt-[50px] mb-2 flex gap-x-2 items-center">
        <WhatsappIcon class="size-6"/>
        <a href="https://wa.link/opa440"target="_blank">Whataspp</a>
    </h2>
    <h2 class="text-s ml-3 mt-[20px] mb-2 flex gap-x-2 items-center">
        <InstagramIcon class="size-6"/>
        <a href="https://www.instagram.com/nicobock_/"target="_blank">Instagram</a>
    </h2>
    
    <h2 class="text-s ml-2 mt-[10px] mb-2 flex gap-x-2 items-center">
        <MailIcon class="size-5"/>
       nicobock15@gmail.com
    </h2>    
</p>
</footer>